@font-face {
  font-family: "din_next_lt_arabiclight";
  src: url("../fonts/din/DINNEXTLTARABIC-LIGHT-2-2.eot");
  src: url("../fonts/din/DINNEXTLTARABIC-LIGHT-2-2.eot?#iefix") format("embedded-opentype"), url("../fonts/din/DINNEXTLTARABIC-LIGHT-2-2.woff2") format("woff2"), url("../fonts/din/DINNEXTLTARABIC-LIGHT-2-2.woff") format("woff"), url("../fonts/din/DINNEXTLTARABIC-LIGHT-2-2.ttf") format("truetype"), url("../fonts/din/DINNEXTLTARABIC-LIGHT-2-2.svg#din_next_lt_arabiclight") format("svg");
}
@font-face {
  font-family: "din_next_lt_arabicBold";
  src: url("../fonts/dinBold/alfontcomAlFontcomDIN-NEXT-ARABIC-BOLD.eot");
  src: url("../fonts/dinBold/alfontcomAlFontcomDIN-NEXT-ARABIC-BOLD.eot?#iefix") format("embedded-opentype"), url("../fonts/dinBold/alfontcomAlFontcomDIN-NEXT-ARABIC-BOLD.woff2") format("woff2"), url("../fonts/dinBold/alfontcomAlFontcomDIN-NEXT-ARABIC-BOLD.woff") format("woff"), url("../fonts/dinBold/alfontcomAlFontcomDIN-NEXT-ARABIC-BOLD.svg") format("svg"), url("../fonts/dinBold/alfontcomAlFontcomDIN-NEXT-ARABIC-BOLD.otf") format("otf");
}
body footer .footer-links-list h6:before, body section.auctions .section-title:before, body .nav-item .nav-link.active:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 40%;
  /* or 100px */
  border-bottom: 2px solid #EEA820;
}

body .truncate-2, body .truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.4;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #EEA820 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #EEA820;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #EEA820;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #EEA820;
}

.font-bold {
  font-family: "din_next_lt_arabicBold";
}
.font-bold.fw-bold {
  font-weight: bold !important;
}

.text-secondary {
  color: #EEA820 !important;
}

.btn-secondary {
  background-color: #EEA820 !important;
  transition: all 0.3s ease-in-out;
}
.btn-secondary:hover {
  background-color: #d59210 !important;
  transition: all 0.3s ease-in-out;
}
.btn-secondary:focus {
  transition: all 0.3s ease-in-out;
  border: 2px solid #c2850f !important;
}

.btn-outline-secondary {
  border-color: #EEA820 !important;
  transition: all 0.3s ease-in-out;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus {
  transition: all 0.3s ease-in-out;
  background-color: #EEA820 !important;
  color: #fff !important;
}
.btn-outline-secondary:focus {
  border: #c2850f !important;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.progress-container {
  z-index: 100;
  width: 100%;
  height: 3px;
  background: #DFE9EB;
  position: fixed;
  top: 0px;
  border-radius: 50px;
}

.progress-bar {
  height: 3px;
  background: #EEA820;
  width: 0%;
}

body {
  /* HTML: <div class="loader"></div> */
  font-family: "din_next_lt_arabiclight";
  color: #171D5B;
}
body * {
  user-select: none;
}
body .loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  box-sizing: border-box;
  position: relative;
}
body .loader::after {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50% 50% 0;
  border: 15px solid #FFF;
  transform: rotate(45deg) translate(0, 0);
  box-sizing: border-box;
  animation: animMarker 0.4s ease-in-out infinite alternate;
}
body .loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150%;
  width: 24px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  animation: animShadow 0.4s ease-in-out infinite alternate;
}
@keyframes animMarker {
  0% {
    transform: rotate(45deg) translate(5px, 5px);
  }
  100% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}
@keyframes animShadow {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
body .loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #171D5B;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
}
body .truncate-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
body .navbar-toggler {
  border: 0;
  user-select: none;
}
body .navbar-toggler:focus {
  box-shadow: none;
}
body .navbar-toggler .navbar-toggler-icon {
  background-image: url("../images/align-left-svgrepo-com.svg");
}
body .bg-dark {
  background-color: #171D5B !important;
}
body .login-btn {
  font-weight: 600;
}
body .login-btn:hover span {
  color: #EEA820 !important;
}
body .navbar {
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.25);
}
body .nav-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media screen and (max-width: 495px) {
  body .nav-item {
    padding: 0;
  }
}
body .nav-item .nav-link {
  color: #BDBDBD;
}
body .nav-item .nav-link.active {
  padding-right: 0;
  position: relative;
  width: fit-content;
}
body .nav-item .nav-link:hover {
  color: #EEA820;
}
body header .container-fluid {
  margin-top: 30px;
}
body header .header-image {
  position: relative;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
}
body header .header-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background-image: url("../images/image_43.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  transition: all 1s cubic-bezier(0.85, 0, 0.15, 1) 0s;
}
body header .header-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background: linear-gradient(96deg, rgba(26, 30, 91, 0.5) 46.29%, rgba(23, 27, 82, 0.47) 88.04%, rgba(0, 0, 0, 0.25) 98.68%), lightgray 50%/cover no-repeat;
  z-index: 0;
  transition: all 1s cubic-bezier(0.85, 0, 0.15, 1) 0s;
  opacity: 0.05;
}
body header .header-image:hover::before {
  transition: all 1s cubic-bezier(0.85, 0, 0.15, 1) 0s;
  background: linear-gradient(155deg, rgb(180, 119, 0) 0%, rgb(213, 146, 16) 35%, rgb(252, 193, 77) 100%);
}
body header .header-image:hover::after {
  transform: scale(1.1);
  transition: all 1s cubic-bezier(0.85, 0, 0.15, 1) 0s;
}
body header .header-image h1 {
  font-family: "din_next_lt_arabicBold";
  font-size: 3rem;
}
body header .header-image p {
  font-size: 1.375rem;
  margin-top: 2rem;
}
body header .header-image .bg-glass {
  max-width: 640px;
  margin: 0 auto;
  height: 8rem;
  border-radius: 1.375rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(25px);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
}
body header .header-image .bg-glass .glass-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 20px);
}
body header .header-image .bg-glass .glass-imgs img {
  width: calc(100% - 150px);
  height: 5rem;
}
body section.companies h5 {
  color: black;
  font-size: 1.375rem;
  font-family: "din_next_lt_arabicBold";
}
body section.companies .company-logo img {
  width: 100%;
}
body section.companies .slick-slider {
  overflow: hidden;
}
body section.companies .slick-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body section.companies .slick-track::before, body section.companies .slick-track::after {
  display: none;
  content: "";
}
body section.companies .slick-initialized .slick-slide {
  width: auto !important;
}
body section.auctions .section-title {
  position: relative;
  width: fit-content;
  font-size: 2rem;
  font-weight: bold;
  font-family: "din_next_lt_arabicBold";
}
body section.auctions .section-title:before {
  bottom: -12px;
  border-bottom: 4px solid #EEA820;
  border-radius: 50px;
}
body section.auctions .nav-pills {
  border-radius: 3.4375rem;
  background: #FFF;
  box-shadow: 2px 4px 24px 0px rgba(120, 119, 119, 0.25);
  padding: 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 753px) {
  body section.auctions .nav-pills {
    padding: 8px 10px;
  }
}
body section.auctions .nav-pills .nav-item .nav-link {
  padding: 10px 70px;
  border-radius: 6.9375rem;
  height: 50px;
  color: var(--black, #000);
  font-family: "din_next_lt_arabiclight";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: bold;
}
@media screen and (max-width: 753px) {
  body section.auctions .nav-pills .nav-item .nav-link {
    padding: 8px 27px;
    height: auto;
  }
}
@media screen and (max-width: 320px) {
  body section.auctions .nav-pills .nav-item .nav-link {
    padding: 8px 20px;
    font-size: small;
  }
}
body section.auctions .nav-pills .nav-item .nav-link.active {
  color: var(--white, #fff);
  background: var(--orange, #DC5224);
}
body section.auctions .nav-pills .nav-item .nav-link.active::before {
  border-bottom: none;
}
body section.auctions .tab-content .card {
  color: #171D5B;
  font-size: 1.0475rem;
  padding: 10px;
  border-radius: 0.9375rem;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--stok, #EAECF0);
  margin-left: 15px;
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  body section.auctions .tab-content .card {
    margin-left: 0px;
  }
}
body section.auctions .tab-content .card .card-image {
  position: relative;
  overflow: hidden;
  border-radius: 0.9375rem;
}
body section.auctions .tab-content .card .card-image .location {
  position: absolute;
  bottom: 0px;
  background: rgba(17, 42, 81, 0.76);
  backdrop-filter: blur(25px);
  width: 100%;
}
body section.auctions .tab-content .card h5 {
  font-family: "din_next_lt_arabicBold";
  font-size: 17px;
}
body section.auctions .tab-content .card .card-body {
  padding: 0;
}
body section.auctions .tab-content .card .card-body i {
  color: #EEA820;
}
body section.auctions .tab-content .card .card-body .company-logo {
  width: 100px;
  /* object-fit: contain; */
  height: 24px;
}
body section.auctions .tab-content .card .card-body .border {
  padding: 0.46875rem 1.84375rem 0.34375rem 1.84375rem;
  border-radius: 0.40875rem;
  border: 2px solid var(--eaeaea, #EAEAEA) !important;
  margin-top: 15px;
}
body section.auctions .tab-content .card .card-body .border p {
  font-size: 14px;
  direction: ltr;
}
body section.auctions .tab-content .card .card-body .btn {
  display: flex;
  width: 10rem;
  height: 3.2rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.375rem;
  font-size: 0.9125rem;
  font-weight: 700;
}
body footer {
  min-height: 300px;
}
body footer .col-md-3 {
  padding-left: 27px;
}
body footer p {
  color: #757575;
  text-align: justify;
  letter-spacing: -0.2px;
  max-width: 255px;
}
body footer .social-links a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  transition: border-color 0.3s ease-in-out;
  justify-content: center;
}
body footer .social-links a:hover {
  transition: border-color 0.3s ease-in-out;
  border-color: #EEA820 !important;
}
body footer .social-links a.linkedin {
  color: #0A66C2 !important;
}
body footer .social-links a.twitter {
  color: #1D9BF0;
}
body footer .footer-links-list h6 {
  position: relative;
  width: fit-content;
  font-weight: bold;
  font-family: "din_next_lt_arabicBold";
}
@media screen and (max-width: 620px) {
  body footer .footer-links-list h6 {
    margin-top: 15px;
  }
}
body footer .footer-links-list h6:before {
  bottom: -10px;
  width: 20px;
  border-bottom: 3.5px solid #EEA820;
  border-radius: 50px;
}
body footer .footer-links-list .list-group-item {
  padding-top: 14px;
  padding-bottom: 14px;
  border: 0;
}
body footer .footer-links-list .list-group-item a {
  display: flex;
  align-items: center;
  color: #757575;
}
body footer .footer-links-list .list-group-item a:hover {
  color: #EEA820;
}
body footer .footer-links-list .list-group-item a i {
  padding-left: 5px;
  font-size: 20px;
}

/*# sourceMappingURL=main.css.map */
